- content_for :title do
  = @block['title']

= partial 'layouts/navigation', :locals => { :current => @block, :channels => @channels }

- content_for :main do
  .representation{ :class => @block['class'].downcase }
    = partial "representations/full/#{@block['class'].downcase}", :locals => { "#{@block['class'].downcase}".to_sym => @block }