!!! 5
%html{:lang => "en"}
  %head
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
  %body
    #loading.loading
    #container
      %nav#navigation
        = yield_content :navigation
      
      %section#main
        .middle
          = yield_content :main